* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 1024px;
  width: 100%;
  font-family: sans-serif;
  /* background: url(../Images/dark-sky.jpg) no-repeat center center/cover; */
  flex-direction: column;
}
body .navbar {
  position: fixed;
  height: 70px;
  flex: 1;
  background-color: #000000;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
body .navbar a {
  font-size: 20px;
  color: #f3efe0;
  text-decoration: none;
  font-weight: 800;
}
body .navbar a:hover {
  color: #434343;
}
body .navbar .nav-1 {
  flex: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body .navbar .nav-1-1 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
body .navbar .nav-1-2 {
  flex: 5;
  display: flex;
  justify-content: flex-end;
}
body .navbar .nav-2 {
  flex: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .navbar .nav-2 .a1 {
  width: 20%;
  display: flex;
  justify-content: center;
}
body .navbar .nav-2 .a2 {
  width: 13%;
  display: flex;
  justify-content: center;
}
body .navbar .nav-2 .a3 {
  width: 31%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #22a39f;
}
body .navbar .nav-2 .a4 {
  display: flex;
  justify-content: center;
  width: 14%;
}
body .navbar .nav-3 {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .navbar .nav-3 .a5 {
  display: flex;
  flex: 1;
  justify-content: center;
}
body .navbar .nav-3 .a6 {
  display: flex;
  flex: 1;
}
body .navbar .nav-3 .a7 {
  display: flex;
  /* flex: 1; */
  width: 40px;
  height: 40px;
  background: #22a39f;
  border-radius: 20px;
}
body .navbar .nav-3 .a8 {
  display: flex;
  flex: 1;
  justify-content: center;
}
body .section {
  background: url(../Images/dark-sky.jpg) no-repeat center center/cover;
  flex: 13;
  width: 100%;
  display: flex;
}
body .section .s-1 {
  position: fixed;
  height: 700px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: rgba(67, 66, 66, 0.4);
  mix-blend-mode: normal;
  margin-top: 95px;
  border-radius: 0px 30px 30px 30px;
}
body .section .s-2 {
  margin-top: 95px;
  margin-left: 360px;
  margin-right: 20px;
  background: rgba(67, 66, 66, 0.4);
  mix-blend-mode: normal;
  border-radius: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  flex-direction: row;
}
body .section .s-2-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}
body .section .s-2-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}
